// button.
.btn {
    border-radius: 0.3em;
    border: 1px solid;
    display: inline-block;
    padding: 0.5em 0.75em;
}
a.btn:hover {
    background: $link-color;
    color: $background-color;
    text-decoration: none;
}

// margin.
.margin {
    margin: $margin 0 !important;
}
.margin-top {
    margin-top: $margin !important;
}
.margin-bottom {
    margin-bottom: $margin !important;
}

// state.
.disabled {
    opacity: 0.7;
}

// clearfix.
.clearfix {
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
// Button Top
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #27AE61 url('/assets/img/up-arrow.png') no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
a:hover.back-to-top {
	background-color: #000;
}
