// typography.
$font-family: 'Times New Roman', Georgia, Serif;
$font-size: 1.0em;

// source code typography.
$code-font-family: Consolas, Monaco, 'Andale Mono', monospace;
$code-font-size: 0.85em;

// vertical margin.
$margin: 50px;

// brand color.
$brand-color: #373737;

// other major colors.
$site-title-color: rgba(#fff, .9);
$page-title-color: $brand-color;
$background-color: #fcfcfc;
$border-color: rgba(#000, .1);

// typography colors.
$text-color: #383838;
$link-color: darken($brand-color, 40%);
$blockquote-color: #777;
